{{ define "main" }}
      <div class="container max-800px">
    </div> 
<!-- background landing image -->    
 <!--   <div class="container max-800px"> {{ with .Params.heroimage }}

{{ end }}>
    </div> -->
    
    
<div class="index-section">
    <div class="container max-800px">
      {{ with .Params.images }}
  <figure class="title-image-index">
    <img src="{{ index . 0 }}" alt="">
  </figure>
{{ end }}

<!-- ^ canva image -->
<div class="index-section">
  <div class="container max-800px">
  <div class="blog-title">
  {{ .Content }}
 
  
</div>
  </div>
  </div>

  <div class="section">
  <div class="columns is-mobile is-multiline">

 {{ partial "widgets/featured-card.html" . }}
  
      
    </div>
{{ end }}
