<h2>Sharing this month's lineup of creative reuse supplies I found online</h2>


<table class="two-column-table">
  {{ range .Site.Data.og_data }}

  <tr>
    <td style="padding-bottom: 5%; padding-top: 5%;" class="first-column">
      <img src="{{.image}}" alt={{.title}}>
      </td>
    <td style="padding-bottom: 5%; padding-top: 5%;" class="second-column">
      <h4 style="margin-bottom:0.0em;">{{.title}}</h4>
      <colspan> <sub> <a href="{{.url}}">
        {{.site_name}} | {{.url}}
      </sub></a></colspan> 
      <p style="font-size: smaller; margin-top:0.8em;"><small>{{.description}}</small></p>
     </td>
  </tr>
  <!-- Add more rows as needed -->
  {{end}}
</table>


<p>Hope this encourages you to <strong>buy </strong> secondhand, <strong>save items</strong> from going to the landfill and <strong>find affordable</strong> materials for your next creation &#129525; &#129526; &#10084;. </p>

<hr>

Checkout a directory of creative reuse supply stores!

<hr>

<sub><small><em>Disclaimer: I neither work for nor receive sponsorship from these wonderful creative reuse store businesses. Items shown above may no longer be available. All links take you directly to their listing. My intention is solely to promote the excellent creative reuse materials from my own personal searching. I have bought items online from several of the stores but cannot speak to any of their services. The listings are not orderd in any specific preference. </em></small></sub>